ENVIRONMENT=development
# ENVIRONMENT=production


# Setup Controller Authentication
CONTROLLER_USERNAME=admin
CONTROLLER_PASSWORD=password

# Setup API KEY to API // Leave empty for no Authentication
API_KEY=